.isms-divider {
    border-bottom: 1px solid #c4c4c4;
    padding: 5px;
}
.mt-2 {
    padding-top: 2rem;
}

table.dataTable thead th, table.dataTable thead td,table.dataTable.no-footer{
    border-bottom: none !important;
    text-align: left  !important;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    background-position: center left;
}

.isms-hidden {
    display: none;
}

.isms-bg-success {
    background-color: #28a745!important
}

.isms-bg-danger {
    background-color: #dc3545!important;
}

.isms-response-holder {
    padding: 10px;
    color: #fff;
    margin-top: 10px;
}

#isms-authform #title {
    width: 100%;
    height: 45px;
}

#isms-authform textarea {
    width: 100%;
    border-radius: 0px;
    border-color: #aaa;
    outline: none;
}

#isms-authform textarea:focus,#isms-authform ul li a:focus {
    outline:0;
    box-shadow: none;
}

#isms-authform ul li a {
    text-decoration: none;
    color: #000;
    outline:0;
}

#isms-authform #add-new-authform ul li,#isms-authform #update-authform ul li{
    display: inline-block;
    list-style: none;
    border: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    margin: 0px 14px -1px 0px;
    background-color: #e4e4e4;
    padding: 10px;
    position: relative;
    z-index: 2;
}

#isms-authform #add-new-authform ul li:hover,#isms-authform #update-authform ul li:hover {
    background: #fff;
    border-color: #aaa;
    border-bottom: 1px solid #ffffff;
}

#isms-authform #add-new-authform ul li.active,#isms-authform #update-authform ul li.active {
    border-bottom: unset;
    background: unset;
    border: 1px solid #aaa;
    border-bottom: 1px solid #fff;
}

div.data-holder {
    border: 1px solid #aaa;
    padding: 20px;
    position: relative;
    bottom: 16px;
}

h3.authform-label {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
}

#isms-authform table, #isms-authform table tbody, #isms-authform table tbody td input{
    width: 100%;
}
#isms-authform table tbody td input[type="checkbox"]{
	width: unset;
	min-height:unset !important;
}

#isms-authform table tbody td input {
    min-height: 35px !important;
}

#isms-authform table td.label {
    width: 15%;
    font-weight: bold;
}

#isms-authform table td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
}

.toplevel_page_isms-authform a#add-new-form {
    text-decoration: none;
    font-size: 14px;
    padding: 8px;
    font-weight: normal;
    border-radius: 5px;
    position: relative;
    left: 3px;
    bottom: 3px;
}

.toplevel_page_isms-authform  #form-list table.dataTable tbody td {
    padding: 5px 10px;
    height: 45px;
}

.toplevel_page_isms-authform  #form-list table.dataTable tbody td a {
    text-decoration: none;
    font-weight:  600
}

ul.form-list-action li a {
    font-weight: normal !important;
}

ul.form-list-action {
    position: absolute;
    margin: 0px !important
}

.form-list-action-holder {
    min-height: 4px;
}

div#isms-tag-generator-holder {
    height: 30px;
}

div#isms-tag-generator-holder a.isms-tag-generator {
    color: #0071a1;
    border-color: #0071a1;
    background: #f3f5f6;
    vertical-align: top;
    border: 1px solid #0071a1;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

div#isms-authform {
    font-size: 14px;
    padding-top: 25px;
}

span.note {
    font-size: 12px;
    font-style: italic;
}

#isms-tag-generator-modal .modal-dialog {
    top: 15vh !important;
}

#isms-tag-generator-modal .form-check-input {
    position: absolute;
    margin-top: .3rem !important;
    margin-left: -1.25rem !important;
}

div#isms-tag-generator-modal input[type="text"] {
    height: 30px;
}

div#isms-tag-generator-modal input[type="text"]#isms-generated-tag {
    font-size: 12px;
    height: 40px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important
}

#dt-form-list {
    border: 1px solid #ccc !important;
    border-top: unset !important;  
}

span.isms-mail-tags {
    margin-right: 5px;
    font-weight: 600;
}

.isms-authform .col-md-6 {
    float: left;
}
.col-md-6.search-form-holder {
    text-align: right;
}

.col-md-6.search-form-holder button {
    position: relative;
    bottom: 3px;

}
td.title a:focus{
    box-shadow: unset !important
}
form#add-new-authform #message-data-holder label {
    font-style: italic;
}

form#add-new-authform #message-data-holder .form-group {
    margin-bottom:  unset;
}
#ismsauthformphone {
    padding-left: 83px !important
}

.toplevel_page_isms-authform-setting h2 {
    font-size: 1.5em;
    margin-top: 28px;
}


.isms-authform a#add-new-form:hover {
    text-decoration: none;
}